:root{
    --mandarina: #FF8201;
    --purpura: #743BBC;
    --azulClaro: #00B5FF;
    --verde: #84BD00;
    --verdeOscuro: #228847;

    --azulOscuro: #043C5C;    
    --blanco: #FFFFFF;

}

html {
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10 px*/
    /* estes html y body los utilizo para proporcionar las pagina y utilizar medidas en REM*/
    font-family: 'Courier New', Courier, monospace; /* -> fuentes en google font*/
    /*font-family: 'Indie Flower', cursive; /* -> fuente de servidores de google*/
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100% );
}

h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    text-align: left;
}

h3 {
    font-size: 1.8rem;
    text-align: left;
}
h1,h2,h3 {
    font-family: 'Indie Flower', cursive; /* -> fuente de servidores de google*/
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin-top: 0; /* margen de la barra para el lado de arriba*/
    margin-right: auto; /* el margen de la barra la toma automaticamente lado derecho*/
    margin-bottom: 0; /* margen de la barra para el lado de abajo*/
    margin-left: auto; /* el margen de la barra la toma automaticamente lado isquierdo para centrar*/
}

    /* Estilos para el input de tipo archivo */
    input[type="file"] {
        /* Personaliza aquí tus estilos */
        border: 1px solid var(--verdeOscuro);
        padding: 10px;
        background-color: var(--verdeOscuro);
        border-radius: 5px;
        font-size: 16px;
    }
    
.nav-bg {
    background-color: var(--verde); /* Color fondo barra de navegacion*/
}
.navegacion-principal {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none; /* quitar raya de navegacion debajo*/
    font-size: 1.5rem;
    font-weight: bold; /* Negrilla*/
    padding: 1rem;
}


.navegacion-principal a:hover{ /* cuando se pasa el mouse por encima de la barra de navegación */
    background-color: var(--blanco);
    color: black;
}


/* ------------------ ESTILO BOTON ------------------*/

/* CSS */
.boton {
  appearance: button;
  background-color: var(--verdeOscuro);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid var(--verdeOscuro);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.boton:focus:not(:focus-visible),
.boton:focus {
  outline: 0;
}

.boton:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.boton:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.boton:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.boton:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.boton:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}
/* ------------------ FIN ESTILO BOTON ------------------*/
/* Estilos básicos de la barra de navegación */

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilo para los elementos de la barra de navegación al pasar el mouse sobre ellos */
nav a:hover {
    background-color: #ddd;
    color: black;
}



/* Estilo para el botón que activa el menú desplegable */
.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold; /* Negrilla*/
}

/* Estilo para los elementos del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los elementos del menú desplegable al pasar el mouse sobre ellos */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

/* Estilo para el elemento del menú desplegable al pasar el mouse sobre él */
.dropdown-content a:hover {
    background-color: #ddd;
    display: block;
}

/* Mostrar el menú desplegable cuando se pasa el mouse sobre el botón */
.dropdown:hover .dropdown-content {
    display: block; 
    
}

.dropdown:hover .dropbtn {
    background-color: var(--blanco);
    color: black;
}

/* Configuraciones Formulario */
.formulario {
    background-color: var(--blanco);
    width: min(60rem,100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset{
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--verdeOscuro);

}

.contenedor-campos {


}

.campo {
    margin-bottom: 1rem;

}

.campo label{
    color: var(--azulOscuro);
    font-weight:  bold;
    margin-bottom:  .5rem;
    display: block;

}

.campo-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}


/* --------------------------------------------- ESTILO TABLA ------------------------------------------------  */ 

/* Table Styles */

.table-wrapper{
    margin: 30px 20px 20px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.resultTable {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.resultTable td, .resultTable th {
    text-align: center;
    padding: 8px;
}

.resultTable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.resultTable thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.resultTable thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.resultTable tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .resultTable {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .resultTable thead, .resultTable tbody, .resultTable thead th {
        display: block;
    }
    .resultTable thead th:last-child{
        border-bottom: none;
    }
    .resultTable thead {
        float: left;
    }
    .resultTable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .resultTable td, .resultTable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .resultTable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .resultTable tbody tr {
        display: table-cell;
    }
    .resultTable tbody tr:nth-child(odd) {
        background: none;
    }
    .resultTable tr:nth-child(even) {
        background: transparent;
    }
    .resultTable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .resultTable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .resultTable tbody td {
        display: block;
        text-align: center;
    }

}